<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- Подключение стилей для страницы -->
    <style>
        body {
            padding-top: 20px;
            background-color: #f8f9fa;
        }
        .user-profile {
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .profile-picture {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div th:insert="~{fragments/navbar-fragment :: navbar}"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="user-profile text-center" th:object="${user}">
                <img src="https://liquipedia.net/commons/images/7/77/Brawl_Mortis.png" alt="Profile Picture" class="profile-picture">
                <h2 th:text="${user.getUsername()}">User Name</h2>
                <p th:if="${user.getEmail() != null}" th:email="${user.getEmail()}">Email: user@example.com</p>
                <p th:if="${user.getEmail() == null}">Email is unknown</p>
                <p th:if="${user.getAge() != null}" th:text="${user.getAge()} + ' years old'"></p>
                <p th:if="${user.getAge() == null}">Age is unknown</p>
                <p th:if="${user.getBodyData() != null}" th:text="${user.getBodyData()}"></p>
                <p th:if="${user.getBodyData() == null}">Body data is unknown</p>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer-fragment :: footer}"></div>
</body>
</html>
